/* Basic styling for the page */
body {                              /* Target the entire page body */
    font-family: 'Helvetica', sans-serif;  /* Set the font to Roboto, with sans-serif as backup */
    font-size: 40px;
    text-align: center;
    color: #111;                        /* Set text color to dark gray (almost black) */
    margin: 20px;                          /* Remove default spacing around the body */
    min-height: 100vh;                  /* Ensure gradient covers full viewport height */
}

/* Make the first paragraph (First Assignment) smaller */
.title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

#mapbox-title {
    color: #40a12a; /* pink */
}

#chart-title {
    font-size: 20px;
    padding-top: 40px;
    color:#797979
}

#messageDisplay {
    font-size: 24px;                  
}

.canvas-title {
    font-size: 15px;
    margin-top: 35px;
    margin-bottom: 0px;
    text-align: center;
}


header {
    position: relative;
    display: flex;
    justify-content: space-between;   
    align-items: center;
    border-bottom: 1px solid #616161;
    padding-bottom: 20px;
}

.left {
    font-size: 15px;
    color: grey
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: grey
}

.right {
    font-size: 15px;
    color: grey
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center; /* optional */
    flex-direction: column;  /* keep title above map */
}

#canvas {
    height: 700px;
    width: 1000px;
    gap: 10px;
    padding: 10px;
    margin-top: 0px;
}

#image {
    width: 900px;
    margin: 50px;
}

#description {
    font-size: 17px;
    color: grey;
    text-align: center;
}

svg, .sankey-chart {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

svg text {
    font-size: 12px; /* or your desired size */
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}
button {
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(66, 66, 66, 0.2);
    border: 1px solid #535353;
    cursor: pointer;
}

#searchFeature {
    padding: 10px;
    border-radius: 20px;
}

.search-options {
    font-size: 15px;
    padding-top: 20px;
    color:#797979
}